version: 2
jobs:
  build:
    docker:
    # specify the version you desire here
      - image: circleci/node:8

    # Specify service dependencies here if necessary
    # CircleCI maintains a library of pre-built images
    # documented at https://circleci.com/docs/2.0/circleci-images/
    # - image: circleci/postgres:9.4

    working_directory: ~/aws-lambda-helloworld

    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run:
          name: Install Serverless CLI and dependencies
          command: |
            sudo npm i -g serverless
            npm install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-

      - run:
          name: Compile Typescript
          command: npm run tsc

      # - run:
      #     name: Unit tests
      #     command: npm test

      - run:
          name: Deploy to AWS
          command: serverless deploy